:root {
    --green: #6ac27e;
    --yellow: #fffd8ffd;
    --red: #ff8181;
    --on-vacation: #c6d3c9;
}


header {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 2rem;
    z-index: 1000;
    background-color: #c6d3c9;

}

.logo-text {
    margin: 0;
}

.selectPageContainer,
.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 45px;
}

.selectPage {
    all: unset;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 0.4rem;
    opacity: 0.9;
    box-shadow: 3px 4px 1px 2px #a3ada6;
    transition: 0.2s;
    color: #c6d3c9;
    cursor: pointer;
}

.selectPage:hover {
    transform: translateY(-1px);
    opacity: 1;
}

.selectPage:active {
    background-color: #ecf3e8;
    border-radius: 20px;
    padding: 0.3rem;
    box-shadow: -3px -4px 1px 2px #a3ada6;
}

.selectPage.active {
    color: rgb(255, 255, 255);
    background-color: #b3c4b7;
    border-radius: 20px;
    padding: 0.3rem;
    transform: translateX(4px) translateY(3px);
    box-shadow: -3px -4px 1px 2px #9aa79e;
}