:root {
    --green: #6ac27e;
    --yellow: #fffd8ffd;
    --red: #ff8181;
    --on-vacation: #749aed;
    --color-one: #1f4bdb;
    --color-two: #4a6ae4;
    --color-three: #7488ed;
    --color-four: #9ea7f6;
    --color-five: #c8c5ff;
}

.mainContainer {
    display: inline-flex;
    flex: 1;
}

.logo-text {
    margin: 0;
}

.selectPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #132769;
    width: max-content;
    width: 5%;
    z-index: 1;
    box-shadow: 2px 0px 2px 1px rgba(0, 0, 0, 0.1);
}

.logo {
    padding: 2rem;
}

.selectPage {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0.5rem;
    width: 100%;
    height: 5rem;
    opacity: 0.7;
    transition: 0.2s;
    color: #a3b7fa;
    cursor: pointer;
}

.selectPage:hover {
    opacity: 1;
    background: rgb(41, 57, 148);
    color: #ffffff;
}

.selectPage:active {
    color: #dadada;
}

.selectPage.active {
    color: #ffffff;
    background: rgb(51, 70, 179);
    border-left: 6px solid var(--color-five);
    opacity: 1;
}



.selectPage-text {
    flex: 1;
    text-align: center;
}