:root {
    --green: #6ac27e;
    --yellow: #fffd8ffd;
    --red: #ff8181;
    --on-vacation: #c6d3c9;
    --color-one: #1f4bdb;
    --color-two: #4a6ae4;
    --color-three: #7488ed;
    --color-four: #9ea7f6;
    --color-five: #c8c5ff;
}


header {
    display: flex;
    flex-direction: column;
    gap: 50px;
    z-index: 1000;
    background-color: #e0e7ff;

}

.logo-text {
    margin: 0;
}

.selectPageContainer,
.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
}

.logo {
    padding: 2rem;
}

.selectPage {
    all: unset;
    display: inline-flex;
    align-items: center;
    width: 99%;
    height: 5rem;
    opacity: 0.9;
    transition: 0.2s;
    color: var(--color-four);
    cursor: pointer;
}

.selectPage:hover {
    transform: translateY(-1px);
    opacity: 1;
}

.selectPage:active {
    border-right: var(--color-five) solid 4px;
}

.selectPage.active {
    color: rgb(255, 255, 255);
    background-color: #d2d0ff;
    border-right: var(--color-five) solid 4px;
    border-radius: 20px 20px 20px 20px;
}

.selectPage-text {
    flex: 1;
    text-align: center;
}